sudo: false

language: python

matrix:
  include:
    - os: linux
      python: "3.6"
      env: PYTHONPATH=$PWD
    - os: linux
      python: "2.7"
      env: PYTHONPATH=$PWD

addons:
  apt:
    sources:
      - ubuntu-toolchain-r-test     # For gcc 4.9 and 5
    packages:
      - gcc-4.9
      - g++-4.9
      - gcc-5
      - g++-5

script:
  - flake8 --exclude versioneer.py .
  - python setup.py build_ext --inplace
  - python examples/use_classic.py
  - python examples/use_modernised.py
  - py.test -vs tests/